body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
}
#flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    height: 100vh;
}
#weather-box {
    width: 40%;
}
#hour-and-button {
    font-size: 5rem;
    text-align: center;
    width: 60%;
}
